body {
    margin: 0;
    padding: 0;
    min-width: 100dvw;      
    min-height: 100dvh;        
    box-sizing: border-box;
    overflow:hidden;
    
}

.img-container {
    display: flex;
    background-image: url("photo.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 50vw;
    color: white;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, sans-serif;
    font-weight: 300;
}

.parent-container {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    min-width: auto;

}
a {
    color: aliceblue;
}

.header {
    display: flex;
    align-items: flex-end;
    padding:30px;
    width: auto;
    height: 30vh;
    border: 1px;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #3c3333; */
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, sans-serif;
    font-weight: 400;
    /* background-color: #849088; */
    background-color: gainsboro ;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 40vh;
    border: 1px;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #849088; */
    background-color: whitesmoke;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
    flex: 1;
}
.footer {
    width: auto;
    height: 30vh;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #849088a4; 
    border: 1px;
    /* background-color: #849088; */
    background-color: gainsboro ;
    padding:30px;

    
}
.names {
    display: flex;
    gap: 200px;
}

.details {
    display: flex;
    gap: 200px;
}

.password {
    display: flex;
    gap: 200px;
}

input {
    /* field-sizing: content; */
    width: 300px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #849088a4;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, sans-serif;
    font-weight: 300;

}

button {
    width: 200px;
    height: 50px;
    background-color: rgb(61, 112, 95);
    border-radius: 10px;
    border:1px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, sans-serif;
    font-weight: 500;


}
.footer {
    padding: 30px;
}
h2 {
    font-weight: 400;
}
